.page-categories__categories {
  display: inline-block;
  margin-top: 2.5rem;
}

.page-categories__category {
  position: relative;
  display: block;
  float: left;
  width: 48%;
  margin-left: 2%;
  margin-top: 2%;
}

.page-categories__category:nth-child(odd) {
  margin-left: 0px;
}

.page-categories__image {
  width: 100%;
}

.page-categories__description {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  font-size: 1.81rem;
  color: #fff;
  line-height: 1.375rem;
}
