.font-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.font-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}
